body{
    background-color: #0e6253;
    width:100vw;
    height:100vh;
}
#app {
    background-color: transparent;
    background:rgba(0, 0, 0, 0.5);
    width:30%;
    height:25rem;
    margin:6rem 24rem;
    padding:1.2rem 2rem;
    border-radius:5px;
    color:#fff;
}
a{
    margin-right:5rem;
    color:#fff;
    text-decoration: none;
}
h2{
    color:#fff;
    font-weight:700;
    font-size:1.7rem;
    text-align: center;
}
p{
    color:#fff;
    font-size:1rem;
    font-weight:400;
}

 input{
    background-color: transparent;
    border:2px solid rgba(225, 225, 225, 0.5);
    color:#cccccc;
    outline:none;
    border-radius:1rem;
    width:20rem;
    height:1.2rem;
    padding:1rem 1rem;
    font-size:1rem;
    margin:0.6rem 0;
 }   
 select{
    background-color: transparent;
    border:2px solid rgba(225, 225, 225, 0.5);
    color:#cccccc;
    outline:none;
    border-radius:1.5rem;
    width:18rem;
    height:3rem;
    padding:0.5rem 1rem;
    font-size:1rem;
    margin:0.6rem 0;
 } 
 select option{
    color:black;
 }
 button {
    background-color: #ffc107;
    border:none;
    color:#000;
    outline:none;
    border-radius:1.6rem;
    width:9rem;
    height:3rem;
    padding:0.5rem 1rem;
    font-size:1rem;
    margin:0.3rem 0;
    cursor:pointer;
}
button:hover{
    color:#d9f2ee;
    border:2px solid #d9f2ee;
}

.hidden {
    display: none;
}
.btns{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
nav{
    display:flex;
    justify-content: flex-start;
    flex-direction:row;
    margin:1rem 2rem;
}
ul{
    display:flex;
    justify-content: flex-start;
    flex-direction:row;
    margin: 1rem 2rem;
}
ul li{
   list-style: none; 
   margin:0.6rem 2rem;
   font-size:1.3rem;
   font-weight:700;
}
